name: Build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: eskatos/gradle-command-action@v1
        with:
          gradle-version: 6.8.3
          arguments: clean test -Dthreads=3 -Dweb.remote.driver.user=${{ secrets.SELENOID_USER }} -Dweb.remote.driver.password=${{ secrets.SELENOID_PASSWORD }} -Dweb.remote.driver.domain=${{ secrets.SELENOID_DOMAIN }} allureReport
        run: -ls -la
      - name: Download allure notification
        run: wget -O allure-notifications.jar https://github.com/qa-guru/allure-notifications/releases/download/language/allure-notifications-2.2.2.jar
      - name: Send notification
        run: java  "-Dmessenger=telegram" "-Dchat.id=${{ secrets.TELEGRAM_CHAT_ID }}" "-Dbot.token=${{ secrets.TELEGRAM_BOT_TOKEN }}" "-Dbuild.launch.name=${GITHUB_WORKFLOW}" "-Dbuild.env=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" "-Dbuild.report.link=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" "-Dproject.name=$GITHUB_REPOSITORY" "-Dlang=ru" "-Denable.chart=true" "-Dallure.report.folder=./allure-report/" -jar allure-notifications.jar
